<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_DOMAIN_URL</key>
	<string>$(API_DOMAIN_URL)</string>
	<key>API_VERSION</key>
	<string>$(API_VERSION)</string>
	<key>APP_BUILD_NUMBER</key>
	<string>$(APP_BUILD_NUMBER)</string>
	<key>APP_BUNDLE_ID</key>
	<string>$(APP_BUNDLE_ID)</string>
	<key>APP_DISPLAY_NAME</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>APP_GROUP_ID</key>
	<string>$(APP_GROUP_ID)</string>
	<key>APP_VERSION</key>
	<string>$(APP_VERSION)</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
