// Production environment (example)
// Copy to `envs/file-organization/production.xcconfig` and edit locally.
API_DOMAIN_URL = https://api.file-organization.local
API_VERSION = /api/v1

APP_DISPLAY_NAME = File Organization
APP_BUNDLE_ID = com.santaris.file-organization
APP_GROUP_ID = group.com.santaris.fileorganization
APP_SHARE_EXTENSION_DISPLAY_NAME = File Organization
APP_SHARE_EXTENSION_BUNDLE_ID = com.santaris.file-organization.share-extension
APP_VERSION = 1.0.0
APP_BUILD_NUMBER = 1

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) PROD

